body, p, dl, dt, dd, ul, li{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
}
input, button, textarea{
  border: none;
  background: none;
  outline: none;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 770px;
  overflow: auto;
}

header{
  padding: 20px 20px;
  box-sizing: border-box;
  background: #dddddd;
  border-bottom: 1px solid #cecece;
}

.head{
  color: #989898;
  font-size: 16px;
}
/* 列表新增按钮 */
.head-right{
  display: inline-block;
  margin-left: 20px;
}


section{
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
}

/* 列表 */
.list{
  width: 220px;
  background: #f2f2f2;
}
.list-content > span{
  display: block;
  height: 34px;
  padding: 0 10px;
  line-height: 30px;
}


/* 列表详情 */
.list-detail{
  width: 220px;
  background: #ffffff;
}

.list, .list-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #cdcdcd;
}
.list-detail-content p{
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  background: #ededed;
  border-bottom: 1px solid #cdcdcd;
}
.list-detail-content p span {
  display: inline-block;
  padding: 2px 6px;
  line-height: 18px;
  font-size: 12px;
}
.show-span{
  background: #fff;
  border-radius: 2px;
  border: 1px solid #cdcdcd;
}

.list-detail-content ul span{
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  background: #fafaee;
}
.list-detail-content ul li {
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
}

/* 分类、任务新增按钮 */
.list-bottom, .list-detail-bottom{
  padding: 10px;
  box-sizing: border-box;
  background: #eeeeee;
  border-top: 2px solid #cdcdcd;
}
.list-bottom span, .list-detail-bottom span{
  margin-right: 10px;
}


/* 列表内容 */
.detail-content{
  flex: 1;
  background: white;
}
.con-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background: #f2f2f2;
  border-bottom: 1px solid #efefef;
}
.con-header input{
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.con-header span{
  font-size: 25px;
}
.con-time{
  padding: 10px 16px;
  border-bottom: 1px solid #efefef;
  background: #fafaee;
}
.con-time span{
  font-size: 14px;
  color: rgb(83, 83, 83);
  font-weight: 300;
}
.con-inner{
  display: flex;
  flex-direction: column;
  height: calc(100% - 92px);
  background: #eee;
}
.con-inner textarea{
  padding: 14px;
}
.con-inner div{
  flex: 1;
  outline: 0; 
  font-size: 12px; 
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}
.con-inner textarea{
  flex: 1;
  background: #fff;
}








/* 显示相关 */
ul{
  display: none;
}
dl{
  position: relative;
  height: 30px;
  overflow: hidden;
}
dt, dd{
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
dd{
  text-indent: 26px;
}
.dt-delete{
  visibility: hidden;
  position: absolute;
  width: 30px;
  right: 0px;
  text-align: center;
  line-height: 28px;
}
dt:hover .dt-delete{
  visibility: visible;
}
.activedTT{
  display: block;
}
.activedDL{
  height: auto;
  overflow: inherit;
}
.activedDD{
  background: #fff;
}
.activedTD{
  color: green;
}
